* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.lock{
    overflow: hidden;
}

li::marker {
    content: none;
}

::-webkit-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.services__list-name,
.icon-name,
.icon,
.logo {
    cursor: pointer;
}


.main {
    background: #F8F8F8;
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;
    font-family: 'TT Lakes Neue Trial';
    min-height: 100vh;
    padding-top: 25px;

}

.container {
    max-width: 1120px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding: 24px 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    background: #fff;
    position: fixed;
    border-bottom: 1px solid #D9FFF5;
}



.header__left {
    display: flex;
    align-items: center;
}

.header__left>.header__left-item:first-child {
    margin: 0;
}

.header__right>.header__right-item:nth-child(5) {
    margin: 0;
}

.header__left>.item-pipe {
    top: -21px;
    margin: 0 20px;
}

.header__right {
    display: flex;
    position: relative;
}

.item-icon {
    margin-left: 16px;
    width: 40px;
    height: 40px;
}

.item-logo {
    width: 96.55px;
    height: 50.81px;
}

.item-pipe {
    position: relative;

    margin: 0 20px;
}

.item-pipe::after {
    position: absolute;
    content: '';
    top: 5px;
    left: 0;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: #EAEAEA;
}




.nav-bar {
    background: #FF3E79;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;


}

.nav__header {
    display: flex;
    padding: 0 24px;
    align-items: center;
}

.nav__header>.item-icon:last-child {
    margin: 0;
    position: absolute;
    right: 24px;
}


.nav {
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    height: 100vh;
    z-index: 5;
    width: 320px;
    box-shadow: 10px 0px 30px 0px #454F7E05, 10px 0px 30px 0px #0E185033;
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    transform: translate(-320px);
    transition: 0.2s linear;
    font-family: 'TT Lakes Neue Trial';
    font-weight: 500;
    overflow: auto;
    position: fixed;
    
}

.nav__items {
    margin-top: 46px;
}

.nav-link:first-child {
    margin-top: 0;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    left: -6px;
    top: 0;
    border-radius: 5px;
}

.nav-link {
    padding: 0 24px;
    margin: 32px 0;
    position: relative;
    line-height: 24px;
    font-size: 16px;
    cursor: pointer;
    width: max-content;
}

.nav-link.active {
    color: #7E7E82;

}

.nav-link.active::after {
    border-right: 5px solid #41F6D7;

}

.nav-link:hover {
    color: #7E7E82;
}

.nav-link:hover:after {
    border-right: 5px solid #41F6D7;

}

.nav__contacts {
    padding: 0 24px;
}

.nav__contacts-item {
    display: flex;
    margin-bottom: 16px;
}

.nav-icon {
    margin: 0 16px 0 0;
}

.nav-tel {
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
}

.nav__contacts-lang {
    margin-top: 24px;
    display: flex;
}

.nav__contacts-lang>p {
    color: #1B1C21;
    margin-right: 8px;
    line-height: 24px;
    font-size: 16px;
    cursor: pointer;

}

.nav__contacts-lang>p.active {
    color: #7E7E82;
}

.nav.active {
    transform: translateX(0);
}

.burger-close {
    left: 8px;
}

@media (320px <=width <=1120px) {


    .container {
        padding: 40px 24px;
        margin: 0 auto;
    }

    .title__items {
        display: none;
    }

    .elem-text>.text-span-1 {
        display: block;
        margin-top: 25px;
    }

    .elem-text>.text-span-2 {
        display: none;
    }

    .services,
    .info {
        width: 100%;
        margin-top: 32px;
    }

    .title__name::after {
        left: -27px;
    }

    .services__list {
        flex-flow: row;
        overflow-y: hidden;
    }

    .elem-link {
        margin-top: 10px;
    }

    .picture2 {
        display: block;
        width: 100%;
    }

    .picture1,
    .picture3 {
        display: none;
    }

    .nav__contacts {
        margin-top: 268px;
    }



}



@media (320px <=width <=768px) {

    .contact-icon,
    .header__left>.item-pipe {
        display: none;
    }

    .header__left>.header__left-item:first-child {
        margin-right: 16px;
    }

    .container {
        padding: 24px 16px;
        margin: 0 auto;
    }

    .services,
    .info {
        margin-top: 24px;
    }

    .title__name::after {
        left: -19px;
    }

    .info__items {
        max-width: 100%;
        display: flex;
        flex-direction: column;

    }

    .info__items-elem {
        width: 100%;
    }

    .elem-text {
        margin-right: 0;
        line-height: 18px;
    }

    .elem-text>.text-span-1 {
        display: none;
    }

    .elem-link {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .picture3 {
        display: block;
        width: 100%;
    }

    .picture1,
    .picture2 {
        display: none;
    }
    .nav__contacts {
        margin-top: 0px;
    }
}